@model int
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="error-container error-404">
        <h1>@Model</h1>
        <p>
            The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
        </p>
        <a href="/" class="btn btn-primary btn-lg">Return to Home</a>
        <a href="javascript:history.back()" class="btn btn-outline-primary btn-lg">Back to Previous Page</a>
    </div>
</div>