@model MovieApp.Web.ViewModels.MovieListViewModel

<!DOCTYPE html>
    <html>
    <head>
        <title>Movie List</title>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css" />
    </head>
    <body>
    <h1>Movie List</h1>
    <table class="container">
        <thead>
            <tr>
                <th>Title</th>
                <th>Genre</th>
                <th>Release Year</th>
                <th>View Trailer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
                <tr>
                    <td>@movie.Title</td>
                    <td>@movie.Genre</td>
                    <td>@movie.ReleaseYear</td>
                    <td>
                        <a href="https://youtu.be/@movie.VideoIdentifier" target="_blank">
                            <img alt="@movie.Title" src="https://i.ytimg.com/vi_webp/@movie.PosterIdentifier/movieposter.webp" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </body>
    </html>